<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JobPath" value="/home/pi/GpioWorker/arozaj.json"/>
    <add key="zJobPath" value="C:\Data\Dev\Gallit\GpioWorker\GpioWorker\arozaj.json"/>
    <add key="LogConsole" value="true"/>
    <add key="LogLevel" value="3"/>
    <add key="LogPath" value="/var/log/GpioWorker"/>
    <add key="StopRequestPath" value="/tmp/gpio-worker-service-request.stop"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
